/* Global */
:root {
  /* Colour */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: ##88898C;
  --color-yellow: #fff7d1;
  --color-black: #000000;
  --color-dark-green: #025928;
  --color-light-green: #1CA673;
  --color-whitish-green:#80BFAD;

  --color-bright-green: #31CB00 ;
  --color-bright-red: #A5243D;


  --color-blue:#0B6E98;
  --color-bluish-green: #0B758C;
  --color-light-blue:#82C9D9;

  /* section colour */
  --color-display-total: #0A2239;

  --color-rad-inout: #171D1C;


  /* Font Size */
  --font-large: 35px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}


body {
  width: 100%;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin-top: 2em;
  background-color: #086375;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

section{
  width: 400px;
  margin: 0 auto;
  border-radius: 5%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar__toggle-btn i{
  font-size: 30px;
}

/* Typography */
h1 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}



/* Home */
#home{
  height: 660px;
  margin-bottom: 1em;
  position: relative;
  background-color: var(--color-white);
}

.home__navbar{
  display: flex;
  justify-items: flex-start;
  width: 100%;
  
}

.home__navbar i {
  margin-top: 4px;
  cursor: pointer;
}

#home h1{
  margin: 0 auto;
}

.home__context{
  margin: 0 auto;
}

.home__context p{
  margin: 40px 0 30px 0;
  text-align: center;
  font-weight: var(--weight-bold);
  font-size: 22px;
}

.home__logo{
  font-size: 100px;
  text-align: center;
  margin-top: .5em;
}

.home__logo img{
  padding-left: 20px;
  width: 160px;
  height: 160px;
}

.display-total, .display-total h2{
  text-align: center;
  font-size: 50px;
  color: var(--color-display-total);
}

.display-in-out{
  width: 320px;
  margin: 40px auto 40px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(128, 123, 165, 0.5) 0 1px 30px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--color-light-white);
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.display-in-out h3{
  margin-bottom: 0;
  font-weight: var(--weight-bold);
}

.display-in-out .v-line{
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey);
  width: 1px;
  height: 80%;
  margin-top: 10px;
}

.display-in-out h2{
  margin-top: 0;
}

.display__in, .display__out{
  padding: .1em;
}

.display__in h2{
  color: var(--color-bright-green);
}

.display__out h2{
  color: var(--color-bright-red);
}


/* Transactions */
#transactions{
  background-color: var(--color-white);
  height: 560px;
  margin-bottom: 1em;
}

.transactions_navbar{
  display: flex;
  justify-content: space-between;
}

.transactions_navbar h1{
  margin-right: 20px;
  margin-top: 0;
}

.transactions_navbar .transactions__filter{
  margin-top: 10px;
  padding-right: 10px;
  display: flex;
}


.transactions__filter span:hover {
  font-weight: bold;
  color: var(--color-dark-grey);
  cursor: pointer;
}

.filter-all.active,
.filter-in.active,
.filter-out.active {
  font-weight: bold;
  color: var(--color-dark-grey);
  cursor: pointer;
}

.transactions_navbar .transactions__filter span:nth-child(1),
.transactions_navbar .transactions__filter span:nth-child(2){
  padding-right: 10px;
}



.transactions_navbar i {
  margin-top: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}


.transaction{
  position: relative;
  width: 340px;
  height: 66px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 15px;
  padding-left: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.transaction__date{
  margin-bottom: 6px;
  color: var(--color-grey);
}

.transaction__title{
  font-size: 20px;
  font-weight: 500;
}

.transaction__amount{
  position: absolute;
  right: 20px;
  top: 16px;
  font-weight: var(--weight-semi-bold);
  font-size: 20px
}

.red{
  color: var(--color-bright-red);
}

.green{
  color: var(--color-bright-green);
}

.transactions__add-btn{
  width:  100%;
}


.transactions__add-btn, .add-transaction__add, .add-transaction__close {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: var(--color-grey);
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.transactions__add-btn:hover, .add-transaction__add:hover,
.add-transaction__close:hover {
  background-color: rgb(249,250,251);
}

.transactions__add-btn:focus, .add-transaction__add:focus, .add-transaction__close:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transactions__add-btn:active, .add-transaction__add:active,
.add-transaction__close:active {
  transform: translateY(2px);
}




/* Add New Transaction */
#add-transaction{
  height: 550px;
  margin-bottom: 1em;
  display: none;
  background-color: var(--color-white);
}

#add-transaction.visible{
  display: block;
}

.add-transaction_navbar{
  display: flex;
  justify-items: flex-start;
  width: 100%;
}

.add-transaction_navbar h1{
  margin-right: 20px;
  margin-top: 0;
}

.add-transaction_navbar{
  display: flex;
  margin-top: 10px;
  margin-right: 4em;
  justify-content: space-between;
}


.add-transaction_navbar i {
  margin-top: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}

#add-transaction input{
  background-color: var(--color-white);
  border-radius: 12px;
  color: #000;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  text-align: center;
  line-height: 31px;
  box-sizing: border-box;
  border: 0;
  font-size: 23px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid var(--color-dark-grey);
}

.date__container{
  display: flex;
  justify-content: space-around;
}

.date__container input{
  width: 110px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
}

.content__rad-container{
  display: flex;
  justify-content: space-around;
}

.transaction-in__rad,
.transaction-out__rad{
  background-color: var(--color-white);
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 165px;
  height: 50px;
  text-align: center;
  line-height: 31px;
  box-sizing: border-box;
  border: 0;
  font-size: 23px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid var(--color-dark-grey);
}

.transaction-in__rad:not(:disabled):hover,
.transaction-in__rad:not(:disabled):focus,
.transaction-out__rad:not(:disabled):hover,
.transaction-out__rad:not(:disabled):focus  {
  color: var(--color-white);
  outline: 0;
  background: var(--color-rad-inout);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}



.transaction-in__rad.active,
.transaction-out__rad.active{
  color: var(--color-white);
  outline: 0;
  background: var(--color-rad-inout);
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}


.add-transaction__content{
  width: 100%;
}

.txtTransaction__title, .txtTransaction__amount{
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
}


#add-transaction h2{
  font-size: 24px;
}


.add-transaction__add{
  margin-top: 10px;
  width: 150px;
}

.add-transaction__close{
  margin-top: 10px;
  width: 150px;
}

.btn-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2em;
}



