/* Global */
:root {
  /* Colour */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: ##88898C;
  --color-yellow: #fff7d1;
  --color-black: #000000;
  --color-dark-green: #025928;
  --color-light-green: #1CA673;
  --color-whitish-green:#80BFAD;

  --color-bright-green: #56DA3C;
  --color-bright-red: #BE0822;
  /* section colour */


  /* Font Size */
  --font-large: 35px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}


body {
  width: 400px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

section{
  border-radius: 5%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar__toggle-btn i{
  font-size: 30px;
}

/* Typography */
h1 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}




/* Navigation bar */
#navbar {
  display: none;
}

/* Home */
#home{
  height: 620px;
  margin-bottom: 1em;
}

.home__navbar{
  display: flex;
  justify-items: flex-start;
}

.home__navbar i {
  margin-top: 4px;
  cursor: pointer;
}

#home h1{
  margin: 0 80px 0 110px;
}

.home__context{
  margin: 0 auto;
}

.home__context p{
  margin: 40px 0;
  text-align: center;
}

.home__logo{
  font-size: 100px;
  text-align: center;
  margin-top: .5em;
}

.home__logo i{
  color: brown;
}

.display-total, .display-total h2{
  text-align: center;
  font-size: 50px;
  color: var(--color-dark-green);
}

.display-in-out{
  border-radius: 25px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  height: 80px;
  width: 320px;
  margin: 20px auto 40px;
  display: flex;
  justify-content: space-evenly;
}

.display-in-out h3{
  margin-bottom: 0;
  font-weight: var(--weight-bold);
}

.display-in-out .v-line{
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey);
  width: 1px;
  height: 80%;
  margin-top: 10px;
}

.display-in-out h2{
  margin-top: 0;
}

.display__in, .display__out{
  padding: .1em;
}

.display__in h2{
  color: var(--color-bright-green);
}

.display__out h2{
  color: var(--color-bright-red);
}

/* Transactions */

#transactions{
  height: 620px;
  margin-bottom: 1em;
}

.transactions_navbar{
  display: flex;
  justify-content: left;
}

.transactions_navbar h1{
  margin-right: 20px;
  margin-top: 0;
}

.transactions_navbar .transactions__filter{
  display: flex;
  margin-top: 10px;
  margin-right: 4em;
  justify-content: space-between;
}

.transactions_navbar .transactions__filter span:nth-child(1){
  margin-right: 10px;
}
.transactions_navbar .transactions__filter span{
  cursor: pointer;
}

.transactions_navbar i {
  margin-top: 3px;
  cursor: pointer;
}
